html{
    width: 100%;
    height: 100vh;
    margin: auto;
}
body{
    background-image: url(./wallpaper.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}
#title{
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 4px black;
}
#campos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}
h3{
    margin-bottom: 0px;
}
input{
    font-size: 16px;
}
#btnBusca{
    background-color: rgb(29, 116, 111);
    color: whitesmoke;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 5%;
}
#cep{
    width: 70%;
    margin: 5%;
    margin-bottom: 10%;
}
#overlay{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
}
#resposta{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 9px 11px 40px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 11px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 40px 0px rgba(0,0,0,0.75);    
}
#btnFecha{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: auto;
    right: 20px;
}
@media screen and (max-height: 360px) {
    #cep{
        margin: 40px;
    }
}